In [1]:
# Import packages and modules
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import cryptography
from dotenv import load_dotenv, dotenv_values
import os

In [2]:
# Environment variables
load_dotenv(verbose=True)
USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
DATABASE = os.getenv("DATABASE_NAME")
SERVER = os.getenv("SERVER")
PORT = os.getenv("PORT")

In [3]:
# Engine configuration
cnx_str = "mysql+pymysql://{user}:{pw}@{server}:{port}/{db}".format(user=USER, pw=PASSWORD, server=SERVER, 
                port=PORT, db=DATABASE)
cnx = create_engine(cnx_str).connect()

In [4]:
# Read data from table
df = pd.read_sql("select * from gds_sale_transactions", con=cnx)
# Hiding df.head() to remove PIIs
# df.head()

,user_id,country_name,user_name,user_type,parent_name,transaction_id,transaction_date,customer_id,customer_name,customer_mobile,...,sub_total_amount,commission_amount,discount_amount,net_amount,version,user_join_date,user_region,customer_join_date,currency_exchange_rate,cogs_amount
0,209,Bangladesh,Purbo Panialpukur FH,Farmer Hub,GBK Enterprise Ltd.,99559,2021-02-01,140464,নানুর,01785076322,...,1000,0,0,1000,1,2019-07-25 09:10:00,Nilphamari,2021-02-01 11:11:25,84.62,600.00002384186
1,156,Bangladesh,Satota FH,Farmer Hub,Sustainable Agriculture Solution (SAS),99560,2020-05-07,140465,কামাল,,...,49480,0,0,49480,1,2018-12-01 12:45:44,Chapai Nawabganj,2020-05-07 11:13:06,83.98,37800
2,156,Bangladesh,Satota FH,Farmer Hub,Sustainable Agriculture Solution (SAS),99560,2020-05-07,140465,কামাল,,...,0,0,0,49480,1,2018-12-01 12:45:44,Chapai Nawabganj,2020-05-07 11:13:06,83.98,0.048
3,209,Bangladesh,Purbo Panialpukur FH,Farmer Hub,GBK Enterprise Ltd.,99561,2021-02-01,137911,goni,01786074232,...,200,0,0,200,1,2019-07-25 09:10:00,Nilphamari,2020-12-05 04:59:37,84.62,200
4,156,Bangladesh,Satota FH,Farmer Hub,Sustainable Agriculture Solution (SAS),99562,2020-05-14,140466,এজাজ,,...,34500,0,0,34500,1,2018-12-01 12:45:44,Chapai Nawabganj,2020-05-14 11:14:16,83.98,24300

In [5]:
# Write data to table
df.to_sql("sale_table", cnx, if_exists='append')
cnx.close()